:root {
    --charte_bleu: #0065FC;
    --charte_bleuc: #DEEBFF;
    --charte_gris: #F2F2F2;
    --border: solid #d6d6d6;
}

a#nav_hebergements, a#nav_activites{
    border-bottom: 3px solid var(--charte_gris);
}

a#nav_hebergements:hover, a#nav_activites:hover {
    border-bottom: 3px solid var(--charte_bleu);
}

a#nav_inscrire {
    justify-self: flex-end;
    padding-right: 1rem;
}


article {
    background: white;
    display: grid;
    border-radius: 25px;
    background-color: white;
    max-width: 382px;
    -webkit-box-shadow: 5px 5px 22px 5px rgba(0,0,0,0.37);
    box-shadow: 2px 2px 10px 2px rgba(0,0,0,0.1);
    margin: 0 auto 1rem auto;
}

article aside {
    grid-area: etoiles;
}

article h3 {
    grid-area: titre;
    font-size: 1rem;
    width: calc(100% - 5px);
}

article img {
    grid-area: image;
    width: calc(100% - 10px);
    height: 130px;
    object-fit: cover;
    object-position: 50% 50%;
    border: 5px solid white;
}

article p, article h3 {
    margin: 0;
}

#section_activites article h3 {
    display:flex;
    align-items: center;
    height: 2.5rem;
}

article p {
    grid-area: texte;
    align-self: flex-start;
    font-size: 0.9em;
}

aside.etoiles {
    font-size: 0.7em;
}

body {
    font-family: Raleway, sans-serif;
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
    max-width: 1400px;
    margin: auto;
}

button#bouton_rechercher {
    background-color: var(--charte_bleu);
    font-size: 1.05em;
    color: white;
    border: none;
    border-radius: 15px;
    display: flex;
    width: 4.5rem;
    justify-content: center;
    align-items: center;
}

button#bouton_rechercher::before{
    content:"\f002";
    font-family: 'Font Awesome 5 Free';
    font-weight: bold;
}

div#nav_border {
    margin: 0;
    display: flex;
}

div#recherche {
    display: flex;
    height: 50px;
    border-radius: 15px;
    margin: 2rem auto;
}

footer {
    background-color: var(--charte_gris);
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 5%;
    justify-content: flex-start;
}

footer section {
    width: 250px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    /* justify-content: flex-start; */
    /* padding: 0; */
    /* margin: 1rem 0; */
}

footer h3 {
    font-size: 1.1rem;
    width: 100%;
}

footer ul {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

h2 {
    font-weight: bold;
    font-size: 1.4rem;
}

header nav {
    display: grid;
    grid: 70px 50px / 50vw 50vw;
    justify-items: center;
    align-items: center;
    align-content: space-between;
    grid-template-areas:
        "logo inscrire"
        "hebergements activites";
    justify-content: center;
    align-content: center;
    justify-items: stretch;
    align-items: stretch;
    margin-top: 1rem;
}

header nav a {
        align-items: center;
        display: flex;
        justify-content: center;
    }

input {
    border: 1px solid var(--charte_gris);
    padding-left: 15px;
    font-size: 1.1rem;
}

input:focus {
    outline: none;
}

input#bouton_rechercher {
    background-color: var(--charte_bleu);
    color: white;
    border-radius: 0 15px 15px 0;
    padding-left: 15px;
    padding-right: 18px;
    border:  1px solid var(--charte_bleu);
}

input#lieu {
    width: 100%;
}

input#lieu::placeholder {
    color: black;
}

label#logo_recherche {
    background-color: var(--charte_gris);
    border : solid 1px var(--charte_gris);
    border-radius: 15px 0 0 15px;
    display: flex;
    align-items: center;
    width: 4.5rem;
    justify-content: center;
}

li {
    list-style-type: none;
}

li#logo {
    justify-self: start;
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

li#nav_activites {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

li#nav_hebergements {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

li#nav_inscrire {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    justify-self: right;
}

li.filtre {
    font-weight: bold;
    border: 2px var(--border);
    padding-right: 15px;
    border-radius: 30px 30px 30px 30px;
    margin-right: 12px;
    display: flex;
    align-items: center;
    height: 50px;
    font-family:"raleway";
}

li.filtre:hover {
    transform: scale(0.95);
    box-shadow: 2px 2px 6px 0 rgba(0,0,0,0.1);
}

li.filtre::before {
    font-family: 'Font Awesome 5 Free';
    display: flex;
    color: var(--charte_bleu);
    background-color: var(--charte_bleuc);
    margin-right: 10px;
    align-items: center;
    justify-content: center;
    width: 3rem;
    border: solid 2px var(--charte_bleuc);
    border-radius: 30px 30px 30px 30px;
    height: 3rem;
    font-size: 1.1rem;
    z-index: 1;
}

main {
    display: flex;
    flex-wrap: wrap-reverse;
}

nav a:first-of-type {
    grid-area: hebergements;
}
nav a:nth-of-type(2) {
    grid-area: activites;
}
nav a:last-of-type {
    grid-area: inscrire;
}

nav a:link {
    text-decoration: none;
    color: black;
}

nav a:link.blue {
    color: var(--charte_bleu);
}

nav a:visited {
    text-decoration: none;
    color: black;
}

nav a.blue:visited {
    color: var(--charte_bleu);
}

nav img {
    grid-area: logo;
    align-self: center;
    justify-self: flex-start;
    padding-left: 1rem;
}



p {
    font-size: 1rem;
}

p.afficher {
    font-size: 1.2rem;
}

p.info {
    display: flex;
}

p.info::before {
    content:"\f129";
    font-family: 'Font Awesome 5 Free';
    width: 20px;
    min-width: 20px;
    height: 20px;
    font-weight: bold;
    font-size: 0.7em;
    margin-right: 10px;
    color: var(--charte_bleu);
    background-color: white;
    border: 1px var(--border);
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

section{
    width: 90%;
    margin: auto;
}

section#filtres {
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    width: 100%;
}

section#filtres h3 {
    margin: 0 30px 0 0;
}

section#section_activites {
    display: grid;
    padding: 0.75rem 0 1.25rem 0;
}

section#section_activites article {
    width: 100%;
    border: none;
    height: 180px;
    display: block;
}

section#section_activites img {
    border: none;
    width: 100%;
    border-radius: 25px 25px 0 0;
}

section#section_hebergements {
    row-gap: 15px;
    padding: 0.75rem 0 1.25rem 0;
}

section#section_hebergements article {
    width: 100%;
    grid-template-areas:
        "image"
        "titre"
        "texte"
        "etoiles";
    height: 200px;
}

section#section_hebergements aside {
    font-size: 0.75em;
}

section#section_hebergements img {
    border-radius: 25px 25px 0 0;
    height: 110px;
}

section#section_populaire {
    width: 100%;
    background-color: var(--charte_gris);
    margin-top: 0;
    row-gap: 15px;
    padding: 1rem 0;
}

section#section_populaire article {
    width: 90%;
    /* max-width: 382px; */
    display: grid;
    grid-template-areas:
        "image titre"
        "image texte"
        "image etoiles";
    column-gap: 10px;
    justify-content: start;
    align-items: center;
    grid-column: 1 / span 2;
}

section#section_populaire img {
    border-radius: 25px 0 0 25px;
    width: 130px;
}

section#section_populaire h2 {
    padding-left: 5%;
    display: flex;
    justify-content: space-between;
    width: 90%;
    /* margin: 0; */
}

section#section_recherche {
    padding: 0.75rem 0 1.25rem 0;
}

ul {
    padding-left: 0;
}

ul#liste_filtres {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    row-gap: 12px;
}

.b_blue {
    background-color: var(--charte_bleu);
}

.b_grey {
    background-color: var(--charte_gris);
}

.blue {
    color: var(--charte_bleu)
}

.bold {
    font-weight: bold;
}

.etoiles {
    font-family: 'Font Awesome 5 Free';
    font-weight: bold;
    letter-spacing: 2px;
}

.etoiles::before {
    color: var(--charte_bleu);
}
.etoiles::after {
    color: var(--charte_gris);
    margin-left: 0px;
}

.grey {
    color: var(--charte_gris);
}

.leftpad {
    padding-left: 1rem;
}

.logo_populaire::after {
    font-family: 'Font Awesome 5 Free';
    font-weight: bold;
    font-size: 1.5rem;
    content:"\f201";
}

.cinqEtoiles::before {
    content: "\f005\f005\f005\f005\f005";
}

.quatreEtoiles::before {
    content: "\f005\f005\f005\f005";
}

.quatreEtoiles::after {
    content: "\f005";
}

.troisEtoiles::before {
    content: "\f005\f005\f005";
}

.troisEtoiles::after {
    content: "\f005\f005";
}


@media screen and (min-width: 768px) {
    a#nav_hebergements, a#nav_activites {
        border-bottom: 0;
        border-top: 2px solid transparent;
    }
  
    a#nav_hebergements:hover, a#nav_activites:hover {
        border-top: solid 2px var(--charte_bleu);
        border-bottom: 0;
    }  

    button#bouton_rechercher {
        border-radius: 0 15px 15px 0;
        width: 8rem;
    }

    button#bouton_rechercher::before{
        content: "Rechercher";
        font-family: 'Raleway';
    }

    div#nav_border {
        display: none;
    }

    footer {
    justify-content: space-between;
    padding: 0 5%;
    }

    footer section {
        margin: 1rem 0;
    }

    header nav {
        grid-template-columns: 25rem calc(100% - 47rem) 8rem 8rem 6rem;
        grid-template-areas:
            "logo . hebergements activites inscrire";
        display: grid;
        margin: 0;
        row-gap: 0;
        width: 100%;
        grid-template-rows: 75px;
    }
    
    input#lieu {
        width: 240px;
    }

    label#logo_recherche {
    width: 3rem;
}

    main {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: start;
        margin: auto;
        justify-content: space-between;
        width: 90%;
    }

    main article {
        max-width: 80%;
    }

    main section {
        background-color: var(--charte_gris);
        border-radius: 25px;
        display: flex;
        flex-wrap: wrap;
        /* margin: 0; */
    }

        main section article {
        margin: auto;
    }

    nav #nav_principal {
        margin: auto;    
    }

    section#section_activites {
        grid-template-areas:
            "titre titre"
            "a1 a2"
            "a1 a3"
            "a4 a5"
            "a4 a6";
        column-gap: 25px;
        row-gap: 30px;
        grid-template-rows: 70px 250px 250px 250px 250px;
    }

    section#section_hebergements {
        /* row-gap: 30px; */
    }

    section#section_hebergements article {
        height: 200px;
        width: 250px;
        /* margin: 0; */
    }

    section#section_activites img {
        height: calc(100% - 50px);
    }
    section#section_activites article {
        height: 100%;        
    }
    section#section_activites article:nth-of-type(1) {
        grid-area: a1;
    }

    section#section_activites article:nth-of-type(2) {
        grid-area: a2;
    }

    section#section_activites article:nth-of-type(3) {
        grid-area: a3;
    }

    section#section_activites article:nth-of-type(4) {
        grid-area: a4;
    }

    section#section_activites article:nth-of-type(5) {
        grid-area: a5;
    }

    section#section_activites article:nth-of-type(6) {
        grid-area: a6;
    }

    section#section_activites h2 {
        grid-area: titre;
    }

    section#section_hebergements {
       width: 45%;
       justify-content: space-evenly;
    }


    section#section_populaire {
        width: 45%;
        padding-bottom: 2rem;
    }

    section#section_populaire article{
        width: 140px;
    }

    main h2, main p.afficher {
        padding-left: 5%;
    }


}

@media screen and (min-width: 992px) {



    section#section_activites {
        /* width: 90%; */
        grid-template-areas:
            "titre titre titre titre"
            "a1 a2 a4 a5"
            "a1 a2 a4 ."
            "a1 . a4 a6"
            "a1 a3 a4 a6";
        column-gap: 25px;
        row-gap: 0;
        grid-template-rows: 70px 200px 50px 50px 200px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    section#section_hebergements {
       width: 60%;
       justify-content: space-evenly;
       align-content: space-evenly;
       margin: auto;
    }

    section#section_hebergements h2, section#section_hebergements > P {
        width: 100%;
    }

    section#section_populaire {
        width: 30%;
    }

    section#section_populaire article { 
        height: 100%;
        width: 300px;
    }

footer section {/* width: 100%; */}

}



